/* Estilos generales */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: url(/images/pizza_cute.jpg) no-repeat center/cover;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
  max-width: 600px;
  background-color: white;
  border: 4px solid rgb(242, 116, 6)
}

h1 {
  font-size: 3rem;
  width: 100%;
  margin: 40px 120px;
}

ul {
  width: 100%;
  height: 100%;
}

.topping {
  font-size: 2rem;
  font-weight: bold;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin: 15px 0;
}

.brown-background {
  background-color: rgba(104, 53, 8, 0.919);
  padding: 15px;
}

.orange-background {
  background-color: rgba(253, 118, 0, 0.956);
  padding: 15px;
}

.blue-background {
  background-color: rgb(194, 81, 33);
}
